<!-- MHonArc resource file -->
<SORT>
<REVERSE>
<MSGLOCALDATEFMT>
%d-%B-%Y %H:%M:%S
</MSGLOCALDATEFMT>
<LOCALDATEFMT>
%d-%B-%Y %H:%M:%S
</LOCALDATEFMT>

<TITLE>
$MAIN-TITLE$ list archive -- (by date)
</TITLE>
 
<TTITLE>
$MAIN-TITLE$ list archive -- (by thread)
</TTITLE>
 
<!--=== Index Page Customizations =========================================-->

<IdxPgBegin>
<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML//EN">
<HTML>
<HEAD>
<TITLE>$IDXTITLE$</TITLE>
</HEAD>
<BODY>
</IdxPgBegin>

 
<!-- Have LISTBEGIN contain last updated information -->
<LISTBEGIN>
<CENTER>
<H2>$MAIN-TITLE$ list archive by date </H2>
Last updated: ?? ($NUMOFMSG$ messages)<BR>
[
<A HREF="../../">OSG Mailing Lists</A> |
<A HREF="../">$MAIN-TITLE$ index</A> |
<a href="$TIDXFNAME$">Thread Index</a> |
<STRONG>Date Index</STRONG>
]
</CENTER>
<UL>
</LISTBEGIN>

<LiTemplate>
<!-- <LI>$MMDDYY$ <STRONG>$SUBJECT$</STRONG> (<EM>$FROM$</EM>)</LI> -->
<LI><STRONG>$SUBJECT$</STRONG>, <EM>$FROMNAME$</EM> (date would be here)</LI>
</LiTemplate>

<LISTEND>
</UL>
<hr>
<CENTER>
[
<A HREF="../../">OSG Mailing Lists</A> |
<A HREF="../">$MAIN-TITLE$ index</A> |
<a href="$TIDXFNAME$">Thread Index</a> |
<STRONG>Date Index</STRONG>
]
</CENTER>
</LISTEND>
 
<!--=== Thread Index Page Customizations ==================================-->
<TIdxPgBegin>
<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML//EN">
<HTML>
<HEAD>
<TITLE>$TIDXTITLE$</TITLE>
</HEAD>
<BODY>
</TIdxPgBegin>

<THEAD>
<CENTER>
<H2>$MAIN-TITLE$ list archive by date</H2>
Last updated: ?? ($NUMOFMSG$ messages)<BR>
[
<A HREF="../../">OSG Mailing Lists</A> |
<A HREF="../">$MAIN-TITLE$ index</A> |
<STRONG>Thread Index</STRONG> |
<a href="$IDXFNAME$">Date Index</A>
]
</CENTER>
<UL>
</THEAD>
 
<TFOOT>
</UL>
<HR>
<CENTER>
[
<A HREF="../../">OSG Mailing Lists</A> |
<A HREF="../">$MAIN-TITLE$ index</A> |
<STRONG>Thread Index</STRONG> |
<a href="$IDXFNAME$">Date Index</A>
]
</CENTER>
</TFOOT>

<TTopBegin>
<LI><STRONG>$SUBJECT$</STRONG>, <EM>$FROMNAME$</EM> (date would go here)</LI>
</TTopBegin>
<TSingleTxt>
<LI><STRONG>$SUBJECT$</STRONG>, <EM>$FROMNAME$</EM> (date would go here)</LI>
</TSingleTxt>
<TLITXT>
<LI><STRONG>$SUBJECT$</STRONG>, <EM>$FROMNAME$</EM> (date would go here)</LI>
</TLITXT>
<!--=== Message Customizations ============================================-->

<SUBJECTHEADER>
<HR>
</SUBJECTHEADER>

<EXCS>
content-type
sender
apparently
errors-to 
followup
forward 
lines 
message-id
mime- 
nntp- 
originator 
path 
precedence 
received 
replied 
return-path 
status 
via 
x- 
</EXCS>

<LABELSTYLES>
-default-
subject:strong
from:strong
to:strong
</LABELSTYLES>
 
<FIELDSTYLES>
-default-
subject:strong
from:strong
to:strong
keywords:em
newsgroups:strong
</FIELDSTYLES>
 
<MSGHEAD>
<CENTER><H2>$MAIN-TITLE$ list archive</H2></CENTER>
</MSGHEAD>
 
<MSGFOOT>
<HR>
$MAIN-TITLE$ mailing list archive for some date generated by <A HREF="$DOCURL$">MHonArc</A> v$VERSION$
</MSGFOOT>
 
<BotLinks>
<CENTER>
$PREVBUTTON$
$NEXTBUTTON$
$TPREVBUTTON$
$TNEXTBUTTON$
[<A HREF="$IDXFNAME$#$MSGNUM$">Date Index</A>]
[<A HREF="$TIDXFNAME$#$MSGNUM$">Thread Index</A>]
<BR>
[<A HREF="../">$MAIN-TITLE$ index</A>]
[<a href="../../">OSG Mailing Lists</a>]
</CENTER>
</BotLinks>

<TopLinks>
<CENTER>
$PREVBUTTON$
$NEXTBUTTON$
$TPREVBUTTON$
$TNEXTBUTTON$
[<A HREF="$IDXFNAME$#$MSGNUM$">Date Index</A>]
[<A HREF="$TIDXFNAME$#$MSGNUM$">Thread Index</A>]
</CENTER>
</TopLinks>

<!--=== Icons =============================================================-->
<ICONS>
application/octet-stream:/icons/binary.xbm
application/postscript:/icons/postscript.xbm
audio/basic:/icons/sound.xbm
image/gif:/icons/image.xbm
image/jpeg:/icons/image.xbm
image/tiff:/icons/image.xbm
multipart/alternative:/icons/alternative.xbm
multipart/digest:/icons/text.xbm
multipart/mixed:/icons/mixed.xbm
multipart/parallel:/icons/mixed.xbm
text/richtext:/icons/mixed.xbm
text/html:/icons/mixed.xbm
text/plain:/icons/text.xbm
unknown:/icons/unknown.doc.xbm
video/mpeg:/icons/movie.xbm
video/quicktime:/icons/movie.xbm
</ICONS>
